body {
  font-family: "Roboto", sans-serif;

  color: #434455;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.input,
textarea,
button {
  font-family: inherit;
}

/* HEADER */

.header {
  height: 88px;
  display: flex;
  align-items: center;
  background: #181823;
}

.link-header {
  padding-right: 882px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  padding-left: 32px;
}
.list-header {
  display: flex;
  gap: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

/* SECTION 1 */
.section-hero {
  width: 1440px;
  height: 814px;

  background-image: url(../imagens/Robin\ desctopx2-min.jpg);
}
.container-hero {
  margin: 0 auto;
}
.title-hero {
  display: flex;
}
.text-hero {
}
