body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
  color: var(--white, #ffffff);
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.input,
textarea,
button {
  font-family: inherit;
}
